---
layout: default
---

<div class="container clearfix">
  
  <div id="welcome">
    <div class="sixteen columns">
      <div class="welcome">
      <p>
		  
		We are a Spirit-led people <span class="color" >gathered</span> to <span class="color" >care</span> for and <span class="color" >empower</span> each other by <span class="color" >stewarding</span> God's resources to <span class="color" >impact</span> our community for Christ
      </p>
      </div>
    </div>
  </div><!-- End Welcome -->
    
  <div class="clearfix"></div>

  <div class="our-services">
    <div class="sixteen columns"></div>
        
      <div class="clearfix"></div>
        
      <ul>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/worship_cross.png" alt="" /></div>
          <h3><a href="/worship">Worship Gatherings</a></h3>
          <p>We gather for worship every Sunday at 9:15 and 10:45 a.m. The early service is classical in style and the later is more contemporary in style <a href="/worship">. . . more</a> </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/mc_icon.png" alt="" /></div>
          <h3><a href="/community">Missional Communities</a></h3>
          <p>We gather in mid-size groups for mission and fellowship <a href="/community">. . . more</a></p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/life_groups.png" alt="" /></div>
          <h3><a href="/community">Life Groups</a></h3>
          <p>We gather in smaller groups for bible study, accountability and community projects. These groups provide support, challenge and closeness <a href="/community">. . . more</a> </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/children-icon.png" alt="" /></div>
          <h3>Children and Youth</h3>
          <p>Teams provide child care, age-appropriate worship and groups. We strive to provide an environment for <a href="/children">children</a> and <a href="/youth">youth</a> to grow and learn. </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/news-small.png" alt="" /></div>
          <h3><a href="/news">Weekly News</a></h3>
          <p>See what is going on this week at First Baptist. <a href="/news">. . . more</a> </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/calendar.png" alt="" /></div>
          <h3><a href="/calendar">Calendar</a></h3>
          <p>Take a look at a live church calendar to see what is going on today at First Baptist  <a href="/calendar">. . . more</a> </p>
        </li>
      </ul>
        
  </div><!-- End our-services -->
    
  <div id="welcome">
    <div class="sixteen columns">
      <div class="qoute">
        <div class="eleven columns omega">
          <h2>Learn more about First Baptist Muncie</h2>
          <p>Find out more about the history, purpose, staff, ministries and mission of First Baptist. </p>
        </div>
        <div class="four columns alpha"><a href="/about" class="link">About Us</a></div>
      </div>
    </div>
  </div><!-- End Welcome -->
  
  <div class="one-third column">      
     
      
     <h2 class="title">Coming Up in Worship<span class="line"></span></h2>
       
     <div class="recent-blog">
         <div  class="recent-blog2">
        
   	      {% for post in site.categories.worship  %}
		  {% if forloop.index == forloop.length %}
          <div class=" blog-item vertical">
            <div class="date3"><span class="day">{{ post.date | date: "%d" }}</span><span class="month">{{ post.date | date: "%b" }}</span></div>
            <h3><a href="{{post.url}}">{{post.title}}</a></h3>
            <p>{{post.content | truncatewords:12}} </p>
            <span class="more"><a href="{{post.url}}">Read more</a></span>
          </div>
		  {% endif %} {% endfor %}      
    
        
    </div>
    </div>
    
  </div><!-- End recent blog -->

    
  <div class="one-third column">
    
    <h2 class="title">Recent Video<span class="line"></span></h2>


    <div class="portfolio">
    
       {% for post in site.categories.video limit:1  %} 
        <!-- Sermon Lightbox-->
        <div class="four columns item omega">
          <div class="caption">
          <a href="{{ post.url }}" rel="prettyPhoto[gallery1]">
   		  <img src="/images/sermon_images/{{ post.date | date: "%Y-%m-%d" }}.jpg" alt="{{ post.title }}" class="pic" />
           <span class="hover-effect big zoom"></span></a>
		
            </div><!-- hover effect -->
          <h4><ahref="{{ post.url }}">{{ post.title }}</a></h4>
   	   <h5><a>{{ post.date | date: "%d %B %Y" }}</a></h5>
        </div>
        <!-- End -->
       {% endfor %}
        

  
    
     </div><!-- End portfolio -->          


  </div><!-- End choose us -->
    
  <div class="one-third column">
 
      
     <h2 class="title">Recent Blog<span class="line"></span></h2>
       
     <div class="recent-blog">
      <div  class="recent-blog2">
        
	      {% for post in site.categories.blog limit:1  %}
      <div class=" blog-item vertical">
        <div class="date3"><span class="day">{{ post.date | date: "%d" }}</span><span class="month">{{ post.date | date: "%b" }}</span></div>
        <h3><a href="{{post.url}}">{{post.title}}</a></h3>
        <p>{{post.content | truncatewords:12}} </p>
        <span class="more"><a href="{{post.url}}">Read more</a></span>
      </div>
      {% endfor %}
        
    
        
    </div>
    </div>
  </div><!-- End recent blog -->
      
</div><!-- <<< End Container >>> -->