
  <div class="bottom">
    <h2 class="title"> About Links <span class="line"></span></h2>
	
    <ul class="square-list categories bottom">
      <li><a href="/about/faqs">FAQs</a></li>
      <li><a href="/about/#pastors">Pastors</a></li>
      <li><a href="/about/faqs/#affiliations">Affiliations</a></li>
      <li><a href="/about/faqs/#membership">Membership</a></li>
	  <li><a href="/about/history">History</a></li>
	   <li><a href="/about/mission">Our Mission</a></li>
    </ul><!-- End square-list -->
     
  </div>
