 
<h2 class="title"id="sunday-bible-study">Sunday Bible Study<span class="line"></span></h2>
<ul>
<li>Early Sunday School: Sundays, 9:15 AM (Intergenerational Class)</li>
<li>Late Sunday School: Sundays, 10:15 AM (Bykota) &amp; 10:45 AM (Two by Two, Friendship, and an Intergenerational Class)</li>
</ul>
 
<h2 class="title"id="music-rehearsals">Music Rehearsals<span class="line"></span></h2>
<p>Handbell (6 PM) and Choir (7:10 PM) rehearsals take place on <strong>Wednesday evenings</strong>. The Band rehearses on <strong>Sunday mornings</strong> at <strong>9:30 AM</strong> and one time a month (during the week).</p>
 
<h2 class="title"id="wednesday-childrens-program">Wednesday Children’s Program<span class="line"></span></h2>
<p>Do you want your child to learn more about Jesus, read the Bible, have a fun environment where they will be treated with respect, and loved unconditionally? Then we have the place for you! Patty and Rachel Russell invite kids to join us in singing, worship, and learning on <strong>Wednesday evenings</strong> starting <strong>February 12</strong> from <strong>6-7 PM</strong>.</p>
 
<h2 class="title"id="childrens-church">Children’s Church<span class="line"></span></h2>
<p>Children’s Church is during the Late Worship Gathering. Children’s Church is for children in kindergarten through 2nd grade. The children are dismissed before the sermon to the basement classroom for their worship time.</p>
 
 
 
 
 
 
 
 
 
<h2 class="title"id="missional-communities">Missional Communities<span class="line"></span></h2>
<p>The Spring Session is underway. Life Groups have been established and will be meeting this month. Life groups meet this week in home as it is the second week of the month.</p>

<p>Life Group Leaders will meet for lunch on <strong>Sunday, February 16</strong> following late worship.</p>
 
<h2 class="title"id="helping-those-in-need">Helping Those in Need<span class="line"></span></h2>

<p>If you are approached by someone asking for money on Sunday mornings, please direct them to Duane Davis (pictured at right) or a member of the diaconate. Please do not give them cash. The diaconate will assess the need and find a way to best serve them.</p>
 

<p>On <strong>Sunday, February 23</strong>, the church will celebrate the ordination of Matt Headley and his family’s ministry at First Baptist Church. Immediately following the combined service at 10:45, everyone will meet for a lunch and brief program. Meat and drinks will be furnished, and all are encouraged to bring a covered dish to share.</p>
 
 
 
 
<h2 class="title"id="financial-reports">Financial Reports<span class="line"></span></h2>
<p>Financial Reports and CCT Meeting Summaries are available in the church office on the receptionist's desk.</p>
 
 
 
 
<p>We will be collecting for the America for Christ Offering in February and March. With an America for Christ donation, you join with American Baptist Home Mission Societies in building communities of justice and hope across the United States and Puerto Rico through the transformational love of Jesus Christ.</p>
 
<h2 class="title"id="visitor-and-bulletin-information">Visitor and Bulletin Information<span class="line"></span></h2>
<p>If you would like to place an announcement in the church bulletin please email it to . If you have an article for the March newsletter, please email it to  by <strong>Sunday, February 23</strong>.</p>
 
 
<!-- \input{includes/mission_giving.tex} --> 


<h2 class="title"id="february-mission-project">February Mission Project<span class="line"></span></h2>
<p>The church library is relocating the second floor to make room for nursery/children’s rooms on the first floor. On <strong>Saturday, February 22</strong> at <strong>10 AM</strong>, we will be meeting at the church to all help move books and shelving as a part of our Missional Communities mission project. Come join us and be a part of God’s calling for our church!</p>
<h2 class="title"id="open-door-food-distribution">Open Door Food Distribution<span class="line"></span></h2>
<p>On <strong>Wednesday, February 12</strong>, Open Door Ministries will be passing out food to needy families from 7:30-9:30 AM. If you know of someone who could use help with food, please let Duane Davis know. If you have a group (SS Class, Mission Circle, or Life Group) that would like to help distribute food, please contact Matt Headley.</p>
 
<!-- Codes for bulletin


Use # for column headings
Use ## for titles
Use * for italics
Use ** for bold
Use - for bullets
Use > for indented quotes
\texttt{mail@yahoo.com} for email addresses


-->
