 
<h2 class="title"id="sunday-bible-study">Sunday Bible Study<span class="line"></span></h2>
<ul>
<li>Early Sunday School: Sundays, 9:15 AM (Intergenerational Class)</li>
<li>Late Sunday School: Sundays, 10:15 AM (Bykota) &amp; 10:45 AM (Two by Two, Friendship, and an Intergenerational Class)</li>
</ul>
 
<h2 class="title"id="music-rehearsals">Music Rehearsals<span class="line"></span></h2>
<p>Handbell (6 PM) and Choir (7:10 PM) rehearsals take place on <strong>Wednesday evenings</strong>. The Band rehearses on <strong>Sunday mornings</strong> at <strong>9:30 AM</strong> and one time a month (during the week).</p>
 
<h2 class="title"id="wednesday-childrens-program">Wednesday Children’s Program<span class="line"></span></h2>
<p>Do you want your child to learn more about Jesus, read the Bible, have a fun environment where they will be treated with respect, and loved unconditionally?? Then we have the place for you!! <strong>Wednesday evenings</strong> starting <strong>February 5</strong> from <strong>6:00-7:00 PM</strong>. Kids!! join us in singing, worship, and learning! - Patty and Rachel Russell</p>
 
<h2 class="title"id="childrens-church">Children’s Church<span class="line"></span></h2>
<p>Children’s Church is during the Late Worship Gathering. Children’s Church is for children in kindergarten through 2nd grade. The children are dismissed before the sermon to the basement classroom for their worship time.</p>
 
 
 
 
 
<h2 class="title"id="florence-arnold-96th-birthday">Florence Arnold 96th Birthday<span class="line"></span></h2>
<p>Florence Arnold will be 96 years old on February 4, 2014. Her daughter said she would be delighted if her friends at First Baptist surprised her with a card shower. Her address is 5801 W. Bethel, Muncie, IN 47304.</p>
 
 
 
 
<h2 class="title"id="missional-communities">Missional Communities<span class="line"></span></h2>
<p>Missional Communities at First Baptist Muncie began at the beginning of 2013. The ministry runs from February-May (taking a two-month break in the summer) and from August-November (taking a two-month break in the winter). This month, we continue our winter break. Life group leaders will meet during this time to evaluate and discuss the Spring term plans. Please keep this team in your prayers as they work through this month to prayerfully consider God’s leading for 2014. If you have not been a part of the Missional Community, let me encourage you to consider being involved in 2014. Missional Communities are for anyone and all ages in the church. If you would be interested in being a part of a group in the Spring, please let Wade know by <strong>Sunday, January 26</strong>.</p>
 
<h2 class="title"id="super-bowl-parties">Super Bowl Parties<span class="line"></span></h2>
<p>Sign up in the church office for one of the Super Bowl parties (<strong>Sunday, February 2</strong>). This is a part of our monthly social events for Missional Communities. We have two locations at this point (the Gregg home and the Braswell home).</p>
 
<!-- ## Helping Those in Need


\begin{wrapfigure}{r}{2cm}
\includegraphics[width=2cm]{duane_davis}
\end{wrapfigure}


If you are approached by someone asking for money on Sunday mornings, please direct them to Duane Davis (pictured at right) or a member of the diaconate. Please do not give them cash. The diaconate will assess the need and find a way to best serve them. --> 


<h2 class="title"id="salvation-army-pantry-volunteers">Salvation Army Pantry Volunteers<span class="line"></span></h2>
<p>FBC members have faithfully served food distribution at the Salvation Army Food Pantry for many years. Marianne Tooley organized and scheduled volunteers over a period of time. With her recent passing, we no longer have an updated list of volunteers. If you worked in the past, would like to continue, or become involved in this ministry, please call the church office at (765) 284-7749. Please leave your name and phone number. Cheryl Flaherty will contact you about a day and time.</p>
 
 
 
 
<h2 class="title"id="financial-reports">Financial Reports<span class="line"></span></h2>
<p>Financial Reports and CCT Meeting Summaries are available in the church office on the receptionist's desk.</p>
<!-- \input{includes/response.tex} --> 


 
 
<p>We will be collecting for the America for Christ Offering in February and March. With an America for Christ donation, you join with American Baptist Home Mission Societies in building communities of justice and hope across the United States and Puerto Rico through the transformational love of Jesus Christ.</p>
 
<h2 class="title"id="visitor-and-bulletin-information">Visitor and Bulletin Information<span class="line"></span></h2>
<p>If you would like to place an announcement in the church bulletin please email it to . If you have an article for the February newsletter, please email it to  by <strong>Sunday, January 26</strong>.</p>
 
 
<!-- \input{includes/mission_giving.tex} --> 


<h2 class="title"id="open-door-food-distribution">Open Door Food Distribution<span class="line"></span></h2>
<p>On <strong>Wednesday, February 12</strong>, Open Door Ministries will be passing out food to needy families from 7:30-9:30 AM. If you know of someone who could use help with food, please let Duane Davis know. If you have a group (SS Class, Mission Circle, or Life Group) that would like to help distribute food, please contact Matt Headley.</p>
 
<!-- Codes for bulletin


Use # for column headings
Use ## for titles
Use * for italics
Use ** for bold
Use - for bullets
Use > for indented quotes
\texttt{mail@yahoo.com} for email addresses


-->
