 
<h2 class="title"id="study-gatherings">Study Gatherings<span class="line"></span></h2>
<ul>
<li>Early Sunday School: Sundays, 9:15 AM (Intergenerational Class)</li>
<li>Late Sunday School: Sundays, 10:15 AM (Bykota) &amp; 10:45 AM (Two by Two, Friendship, and an Intergenerational Class)</li>
</ul>
 
<h2 class="title"id="wednesday-evening-activities">Wednesday Evening Activities<span class="line"></span></h2>
<p>Wednesday evenings are a time for various programs, rehearsals and a shared meal. Prayer Shawl (4:30), Meal (5:30), Children Program (6:00), Handbells, Bible Study, other special meetings (6:30) and Choir Rehearsal (7:40).</p>
 
 
<h2 class="title"id="missional-community">Missional Community<span class="line"></span></h2>
<p>This week is the third week of the month. The Missional Community will be serving at Christian Ministries to distribute items for the Personal Care Drive. Everyone is invited to Christian Ministries (401 E Main Street) from <strong>4-6:00 PM, Wednesday, April 17</strong> to distribute items. There will also be a Life Group Leaders at 7:00 PM on this evening at the church.</p>
 
<h2 class="title"id="church-coordination-team-meeting">Church Coordination Team Meeting<span class="line"></span></h2>
<p>The Church Coordination Team Meeting (CCT) will be meeting on <strong>Monday, April 15</strong> at <strong>7:00 PM</strong> in the church office.</p>
 
 
 
 
 
 
 
<h2 class="title"id="church-softball-team-practice">Church Softball Team Practice<span class="line"></span></h2>
<p>The Church Softball Team will meet for practice at Westside Park from <strong>1-3 PM</strong> on <strong>Saturday, April 20</strong>.</p>
 
<h2 class="title"id="poverty-simulation">Poverty Simulation<span class="line"></span></h2>
<p>There is a Poverty Simulation on <strong>Sunday, April 21</strong>. Please see Lester Bryars or Molly Flodder if you are interested in attending.</p>
 
<h2 class="title"id="visitor-available">Visitor Available<span class="line"></span></h2>
<p>The April Visitor is now available online. Please check out the website for upcoming events and information this month. You can access the Visitor at http://fbcmuncie.org/visitor/</p>
 
<h2 class="title"id="childrens-church">Children’s Church<span class="line"></span></h2>
<p>Children's Church is during the Late Worship Gathering. Children's Church is for children in kindergarten through 2nd grade. The children are dismissed before the sermon to the basement classroom for their worship time. Jessica Fink &amp; Kelly Richard are co-coordinating and teaching.</p>
 
 
 
<h2 class="title"id="tithes-and-offerings">Tithes and Offerings<span class="line"></span></h2>
<p>2013 has shown similar levels of giving to 2012. In January and February, our income was only 75% of expenses. We are taking steps toward a balanced budget in this calendar year. We hope that everyone will prayerfully consider your tithes and offerings as an act of worship.</p>
 
<h2 class="title"id="financial-reports">Financial Reports<span class="line"></span></h2>
<p>Financial Reports and CCT Meeting Summaries are available in the church office on the receptionist's desk.</p>
 
 
 
 
<h2 class="title"id="home-mission-circle">Home Mission Circle<span class="line"></span></h2>
<p>The Home Mission Circle is in need of white cotton or cotton blend sheets that are not too worn. These sheets will be used by missionaries for bandages. They can be given to either Pam Williams or Shirley Johnson.</p>
<h2 class="title"id="personal-care-drive">Personal Care Drive<span class="line"></span></h2>
<p>In cooperation with the Poverty Awareness Year partnership, we are collecting personal care items (toothbrushes, toilet paper, detergent). You can leave your donations in the church office through <strong>Sunday, April 14</strong>. Please join the Missional Community on <strong>Wednesday, April 17</strong> at Christian Ministries to distribute items.</p>
 
