<div class="eleven columns top bottom">

	<hr class="bottom-2" />
	{{% if author.image.small-url %}}
      <div class="image-post bottom left"> 
         <a href="/pastors/{{ author.url }}"><img src="{{ author.image.small-url }}"></a>  
      </div><!-- End image -->
      {{% endif %}}
      
      <div class="post-content">
        <p>This blog post was written by {{ author.name }}.<br>
    	 {{ author.first }} is the {{ author.role }} at First Baptist Church Muncie.<br>
    	<a href="/pastors/{{ author.url }}">Read more </a>
        </p>
    </div>

</div>
