<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>First Baptist Church | Muncie, Indiana</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS Style -->
  <link rel="stylesheet" href="/css/style.css"> 
  
  <!-- Color Skins -->
  <link rel="stylesheet" href="/css/skins/purple.css" name="skins"> 
  
  <!-- Layout Style -->
  <link rel="stylesheet" href="/css/layout/boxed.css" name="layout"> 
  
  <!-- Small Icons -->
  <link rel="stylesheet" href="/css/icons.css">  
  
  <!-- Include calendar css sheet -->
  <link rel='stylesheet' type='text/css' href='/css/fullcalendar.css' />
 
  
  <!-- Start JavaScript -->
  
    <script src="/js/jquery-1.7.2.min.js"></script> <!-- jQuery library -->
    <script src="/js/jquery.easing.1.3.min.js"></script> <!-- jQuery Easing --> 
    <script src="/js/jquery-ui.min.js"></script> <!-- jQuery Ui --> 
    <script src="/js/jquery.cookie.js"></script> <!-- jQuery cookie --> 
    <script src="/js/jquery.uniform.min.js"></script> <!-- jQuery Uniform -->
    <script src="/js/ddsmoothmenu.js"></script> <!-- Nav Menu ddsmoothmenu -->
    <script src="/js/jquery.flexslider.js"></script> <!-- Flex Slider  -->
    <script src="/js/jquery.eislideshow.js"></script> <!-- Elastic Slider  -->
    <script src="/js/jquery.iconmenu.js"></script> <!-- Sliding Text and Icon Menu Style  -->
    <script src="/js/colortip.js"></script> <!-- Colortip Tooltip Plugin  -->
    <script src="/js/tytabs.js"></script> <!-- jQuery Plugin tytabs  -->
    <script src="/js/carousel.js"></script> <!-- jQuery Carousel  -->
    <script src="/js/jquery.prettyPhoto.js"></script> <!-- jQuery Prettyphoto  -->
    <script src="/js/jquery.isotope.min.js"></script> <!-- Isotope Filtering  -->
    <script src="/js/selectnav.js"></script> <!-- Responsive Navigation Menu by SelectNav -->
    <script src="/js/jquery.ui.totop.js"></script> <!-- UItoTop plugin  -->
    <script src="/js/custom.js"></script> <!-- Custom Js file for javascript in html -->
    <script src="/js/jquery.tweet.js"></script> <!-- jQuery Tweets -->
    <script src="/js/jflickrfeed.min.js"></script> <!-- jQuery Flickr -->
    <script src="/js/twitter-flickr-options.js"></script> <!-- jQuery Tweets Options -->
    <script src="/js/styleswitch.js"></script> <!-- Style Switcher -->
	<script type='text/javascript' src='/js/fullcalendar.js'></script> <!-- Full Calendar -->
	<script type='text/javascript' src='/js/gcal.js'></script> <!-- Google Calendar -->
  
  <!-- End JavaScript -->

  <!--[if lt IE 9]>
      <script src="js/html5.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <link rel="apple-touch-icon" href="/images/favicon/fbc_apple_touch.png">
  <link rel="apple-touch-icon" sizes="/72x72" href="/images/favicon/fbc_apple_touch_72x72.png">
  <link rel="apple-touch-icon" sizes="/114x114" href="/images/favicon/fbc_apple_touch_114x114.png">
  

</head>
