<div class="two-thirds column">
        <nav id="menu" class="navigation">
          <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="{{site.site_url}}/about">About </a>
              	<ul>
			      <li><a href="/about/faqs">FAQs</a></li>
			      <li><a href="/about/#pastors">Pastors</a></li>
			      <li><a href="/about/faqs/#affiliations">Affiliations</a></li>
			      <li><a href="/about/faqs/#membership">Membership</a></li>
				  <li><a href="/about/history">History</a></li>
				   <li><a href="/about/mission">Our Mission</a></li>
				</ul>
			</li>
            <li><a href="#2">Media</a>
			<ul>
				 <li><a href="/blog/">Blog</a></li>
				<li><a href="#2">Videos</a></li>
				<li><a href="#2">Podcast</a></li>
				<li><a href="#2">Newsletter</a></li>
				<li><a href="#2">Prayer List</a></li>
			</ul>
			</li>
			 <li><a href="">Gatherings</a>
				 <ul>
					<li><a href="#2">Calendar</a></li>
					<li><a href="#2">Worship Gatherings</a></li>
					<li><a href="#2">Upcoming Sermons</a></li>
					<li><a href="#2">Youth</a></li>
					<li><a href="#2">Children</a></li>
					<li><a href="#2">Wednesdays</a></li>
					<li><a href="#2">Rehearsals</a></li>
					<li><a href="#2">Life Groups</a></li>
				 </ul>
			 </li>
			 <li><a href="">Contact</a>
				 <ul>
					<li><a href="#2">Directions</a></li>
					<li><a href="#2">Contact Form</a></li>
					<li><a href="#2">Prayer Requests</a></li>
					<li><a href="#2">Weddings</a></li>
				 </ul>
			 </li>
          </ul>
            
        </nav>
      </div><!-- End Menu -->