<div class="two-thirds column">
        <nav id="menu" class="navigation">
          <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About </a>
              	<ul>
			      <li><a href="/about/faqs">FAQs</a></li>
			      <li><a href="/pastors">Pastors</a></li>
			      <li><a href="/about/faqs/#affiliations">Affiliations</a></li>
			      <li><a href="/about/faqs/#membership">Membership</a></li>
				  <li><a href="/about/history">History</a></li>
				  <li><a href="/weddings">Weddings</a></li>
				   <li><a href="/about/mission">Our Mission</a></li>
				</ul>
			</li>
            <li><a href="/media">Media</a>
			<ul>
				 <li><a href="/blog">Blog</a></li>
				<li><a href="/video">Videos</a></li>
				<li><a href="/podcast">Podcast</a></li>
				<li><a href="/forms">Forms</a></li>
				<li><a href="/forms/FBC_Muncie_Constitution.pdf">Constitution</a></li>
				<li><a href="/visitor">Newsletter</a></li>
				<li><a href="/prayer/prayerlist.pdf">Prayer List</a></li>
			</ul>
			</li>
			 <li><a href="/gatherings">Gatherings</a>
				 <ul>
					<li><a href="/worship">Worship Gatherings</a></li>
					<li><a href="/community">Missional Communities</a></li>
					<li><a href="/community">Life Groups</a></li>
					<li><a href="/youth">Youth</a></li>
					<li><a href="/children">Children</a></li>
					<li><a href="/wednesdays">Wednesdays</a></li>
					<li><a href="/rehearsals">Rehearsals</a></li>
					<li><a href="/worship">Upcoming Sermons</a></li>
					<li><a href="/calendar">Calendar</a></li>
					<li><a href="/news">Weekly News</a></li>
				 </ul>
			 </li>
			 <li><a href="/contact/menu">Contact</a>
				 <ul>
					<li><a href="/contact/#directions">Directions</a></li>
					<li><a href="/contact">Contact Form</a></li>
					<li><a href="/prayer">Prayer Requests</a></li>
					<li><a href="/weddings">Weddings</a></li>
				 </ul>
			 </li>
          </ul>
            
        </nav>
      </div><!-- End Menu -->