 
 
 
<h2 class="title"id="story-of-transition">Story of Transition<span class="line"></span></h2>
<p>In the summer of 2012, the young adult small group had been meeting for over three years. The dynamics of the group had changed. Some had children; new members had joined the group. The group sensed that God was moving among them, but did not realize exactly what that meant. The group entered an intentional time of discernment throughout the summer and fall of 2012.</p>
<p>The group asked the question,</p>
<blockquote>
<p>Reflecting on what God has taught us, how is He calling this group to action so that our efforts might be expanded for the benefit of the church and the community?</p>
</blockquote>
<p>The group considered possibilities of dividing the group, discontinuing the ministry or sending out families to begin new groups in the community. As the group explored its calling, it concluded,</p>
<blockquote>
<p>God is calling some of us to step out of this existing group in order to begin (lead) new groups in our church (perhaps missional groups). Some of us feel that God has called us to stay as this group. This will open the group to others (allowing this group to be accessible) so that they may be discipled as we have been.</p>
</blockquote>
<p>We did not know exactly how this would play out, but we knew that God was calling this group to something different, something that would open the door for new people to engage. Around the same time, Matt and I attended a conference in Fort Wayne about missional communities. As we explored the dynamics of this approach, we felt that God was calling us toward this direction.</p>
<p>We began reading, exploring and considering this approach to discipleship and community. A team of four members was formed to map this out. Colleen Massoth, Tim Stigers, David Rodriguez, Heather Headley and I began meeting to discuss how we might begin a similar approach that was contextual to First Baptist Church Muncie.</p>
<p>In our process, we explored the values of First Baptist Church Muncie; we even rummaged through scrapbooks from Sunday School classes from 60 years ago. We discovered that the values of previous generations (Sunday School classes) were the same as the values for these communities. While the world looks much different, the dynamics of living life together have not changed. The format of missional communities will be different from Sunday School, but the values will be similar. The groups will be on mission together in the community; they will spend time in close fellowship (through Life Groups) and will support one another through the good and bad that life brings.</p>
<p>The team felt that God was leading this direction. We sensed that God was prompting us to give this format a shot.</p>
<h2 class="title"id="plan-for-pilot-group">Plan for Pilot Group<span class="line"></span></h2>
<p>The team turned to a model for missional communities out of England. Europe has experienced cultural changes we are now experiencing in America. Church attendance among adults is plummeting; the church is no longer the center of culture. Mike Breen and Alex Absalom, in <em>Launching Missional Communities: A Field Guide</em> detail the approach in St. Thomas' Church in Sheffield, England fifteen years ago. He suggests beginning with a pilot community. It is a way to test out the format and learn from the experience.</p>
<p>We plan to have a pilot community at First Baptist Church Muncie in 2013. In the month of January, we will have an informational meeting (Wednesday, January 9) for those who are interested in participating in the community. Participants will have a chance to sign up for Life Groups through January 20. The community will begin in February 2013 and will conclude at the end of May 2013.</p>
<h2 class="title"id="what-are-missional-communities">What are Missional Communities?<span class="line"></span></h2>
<p>There has been much written about missional communities. I will try to keep this brief, but I would like to give you an idea of what we are talking about. Wikipedia defines missional communities as,</p>
<blockquote>
<p>groups of . . . people who are united, through Christian community, around a common service and witness to a particular neighborhood or network of relationships. With a strong value on life together, the group has the expressed intention of seeing those they impact choose to start following Jesus, through this more flexible and locally incarnated expression of the church.</p>
</blockquote>
<p>In short, missional communities are mid-sized (25-50 people) and serve to connect people in the work of God in our community. They are larger than small groups, but they are smaller than worship gatherings. Sociologists have concluded that this group size is ideal for mission projects. They are often centered on a particular geographic region or mission focus.</p>
<p>In larger church settings, there may be several missional communities. But for us, we will begin with one. The missional community will meet twice a month. They will meet on the first Wednesday of each month for a meal and fellowship. They will gather for a mission/service project on the third week of each month.</p>
<h2 class="title"id="what-are-life-groups">What are Life Groups?<span class="line"></span></h2>
<p>While missional communities are ideal sized for projects, they are a bit large for life-on-life connections. Embedded in missional communities will be Life Groups of 6-12 people. They will meet on the second and fourth week of each month for Bible study, prayer and fellowship - living the Christian life together. For now, we will have an open sign up and divide interested participants into Life Groups for the duration of the Pilot Group (February-May 2013).</p>
<p>Life Groups will meet in homes; the date and time will be determined by the Life Groups themselves. Leaders will also meet on the first and third week of each month for training and sharing.</p>
<h2 class="title"id="how-can-i-get-involved">How can I get involved?<span class="line"></span></h2>
<p>You might be asking, how can I get involved? The first way would be to attend the January 9 informational meeting. Come and find out more about how these groups will function. If you would like to be involved in a Life Group, you will have an opportunity to sign up through January 20.</p>
<p>If you choose to be involved in the pilot community, you will have an opportunity to connect with others, serve on Mission projects together and be involved in a Life Group. Again a typical monthly schedule will look like this.</p>
<ul class="square-list">
<li>First week - Meal and Sharing Time at Church on Wednesday evening</li>
<li>Second week - Life Groups in homes</li>
<li>Third week - Mission project</li>
<li>Fourth week - Life Groups in homes</li>
<li>Fifth week (if there is one) - no meetings</li>
</ul>
<h2 class="title"id="informational-meeting-on-jan-9">Informational Meeting on Jan 9<span class="line"></span></h2>
<p>On January 9 at 6:30 PM, we will gather in the lower auditorium for an informational meeting about missional communities. Dinner will be served at 5:30 PM.</p>
<h2 class="title"id="this-is-a-test-only-a-test-.-.-.">This is a test, only a test . . .<span class="line"></span></h2>
<p>Perhaps you are listening to the radio and hear a long beep. The broadcaster usually says something like, &quot;this is a test, only a test.&quot;</p>
<p>This pilot group is only a test. We hope that we will find that these gatherings are life transforming. We hope that this pattern of ministry will prove fruitful and that we will continue it beyond the pilot group. At the same time, we hope to learn from mistakes as we navigate these new waters together.</p>
<p>I hope that you will join us as we explore new ways of discipleship and mission.</p>
<p>Please note that on <strong>Wednesday, January 2</strong>, there will be no Wednesday Evening Programs. We will resume Wednesday evening programs on January 9.</p>
<p>The youth will be traveling again this year to Green Lake, Wisconsin. If you would be willing to sponsor a teenager for their January 2013 ski trip, please contact Wade. Kids pay for half of the cost. We are looking for sponsors to pay for the other half. Any donation would be helpful, but a full sponsorship would be $100.</p>
<p>We were unable to make the proposed constitutional changes on December 16 due to attendance. We needed to have 40% of active attendees in the meeting. However, the support for the change was overwhelming. We will have a brief business meeting following both services on January 13 to conduct this business.</p>
<p>Beginning in January, a group of leaders will begin a series of meetings to discern the way we use music in our church. The discernment team will address issues including rehearsal schedules and leadership personnel. To allow time for this process, some scheduled music rehearsals will be cancelled on Jan 16 and 23.</p>
<p>The church office will be closed from Monday, December 24 through Wednesday, January 2. You may contact one of the pastors during this time if you have a pastoral need. Wade (765-405-0131), Matt (765-405-0536) or Robert (765-749-6105) will be available by phone.</p>
<p>You may pick up a printed directory at either door of the sanctuary as you leave today. There will also be copies in the church office.</p>
<p>We have updated the website to a new format for use on mobile devices. Please check it out and let us know what you think and if anything needs to be added to the site.</p>
<p>Sanctuary choir is open to new members. Reading music is helpful but not required; just have a love for praising the Lord in song. We rehearse 7:30 to 9:00 p.m., Wed evenings, except on special occasions and participate in worship leading during the traditional service.</p>
<p>The Handbell Choir will be on a holiday break from December 12 - January 2. They will rehearse on December 5 and will resume rehearsals on January 9, 2013.</p>
<p>For the first six weeks of 2013, we will be focusing on stewardship. It is no secret that we are suffering the loss of financial support as aged members are passing away and/or moving into assisted living facilities. But stewardship is more than dollars. It is about fully offering ourselves to God. We will engaging Scripture around this topic together in the New Year. We hope that you will join us in this important series as we study Scripture together.</p>
<ul class="square-list">
<li>January 6 - Posture of Sacrifice (Matthew 2:1-12)</li>
<li>January 13 - Giving God Credit (Psalm 29)</li>
<li>January 20 - Spiritual Gifts: Part 1 (1 Corinthians 12:1-11)</li>
<li>January 27 - Spiritual Gifts: Part 2 (1 Corinthians 12:12-31)</li>
<li>February 3 - Two Masters (Luke 16:13-15)</li>
<li>February 10 - Hearts Follow Treasure (Matthew 6:19-21)</li>
</ul>
<p>Following the series, we will move into the season of Lent together.</p>
<h2 class="title"id="from-childrens-ministry">From Children’s Ministry<span class="line"></span></h2>
<p>Special thanks to Dana and Duane Davis for the wooden nativity sets. Duane made a set for each family in the children's department, a total of 12 sets. The children enjoyed coloring each piece. They are a beautiful and great keepsake for the children. Thanks so much!</p>
<h2 class="title"id="from-dick-stemmer-and-penny-morris">From Dick Stemmer and Penny Morris<span class="line"></span></h2>
<p>To all at First Baptist Church, a church that is always there for you through good times and bad times. Thank you for all the prayers, the cards, the visits and the many blessings you have brought our way. May God bless all of you and bring you the many blessings that you have brought to us. From the bottom of our hearts.</p>
<h2 class="title"id="salvation-army-bell-ringing">Salvation Army Bell Ringing<span class="line"></span></h2>
<p>Thank you so much for ringing bells for the Salvation Army. Our kettles had donated $709.71 in two days.</p>
<h2 class="title"id="sundays">Sundays<span class="line"></span></h2>
<p>9:15 a.m. Early Gathering/Early Sunday School, 10:15 a.m. Fellowship Time, 10:45 a.m. Late Gathering/Late Sunday School</p>
<h2 class="title"id="wednesdays">Wednesdays<span class="line"></span></h2>
<p>5:30 p.m. - Evening Meal, 6:00 p.m. - Childrens' Program, 6:15 p.m. - Rehearsals, 6:30 p.m. - Bible Study &amp; Handbell Rehearsal</p>
<p>Note: There will be no Wednesday evening programs on December 26 and January 2. No music rehearsals on January 16 and 23.</p>
<h2 class="title"id="january-9">January 9<span class="line"></span></h2>
<p>Missional Community Information Meeting</p>
<h2 class="title"id="january-12">January 12<span class="line"></span></h2>
<p>Children’s Ministry Team Meeting</p>
<h2 class="title"id="january-13">January 13<span class="line"></span></h2>
<p>Business Meeting following each service</p>
<h2 class="title"id="january-16">January 16<span class="line"></span></h2>
<p>Music Discernment Process Meeting One</p>
<h2 class="title"id="january-18-21">January 18-21<span class="line"></span></h2>
<p>Youth Ski Trip</p>
<h2 class="title"id="january-23">January 23<span class="line"></span></h2>
<p>Music Discernment Process Meeting Two</p>
 
