---
layout: default
---

<div class="container clearfix">
  
 <div class="sixteen columns"> <h1 class="page-title">Pastor's Blog<span class="line"></span></h1>
 </div><!-- Page Title -->
   
   
 <!-- Start Posts -->
 <div class="eleven columns top bottom">

   
       {% for post in site.categories.blog limit:5  %}
	   
       <!-- ==================== Post 3 ==================== -->
     
       <div class="one column alpha">
        <div class="date-post"><span class="day">{{ post.date | date: "%d" }}</span><span class="month">{{ post.date | date: "%b" }}</span></div>
      </div> <!-- End Date -->
     
       <div class="ten columns omega">
       <div class="post bottom">
      
        <h2 class="title bottom-2"><a href="{{post.url}}">{{post.title}}</a> <span class="line"></span></h2><!-- Title Post -->
      
        <div class="post-content">
  
   <p>{{post.content | truncatewords:60}}</p>
   
          <a href="{{post.url}}" class="button medium color">Read More</a>
        </div><!-- End post-content -->
      
        <hr class="top bottom-2" />
      
	    <div class="post-meta bottom-2 transparent">
	      <div class="meta"><span class="user icon gray"></span> By : {{post.author}} </div><!-- Author -->
	    </div><!-- End post-meta -->

      
        </div><!-- End column post -->
      
       </div> 

	    {% endfor %}
     <!-- ==================== End  ==================== -->
	 
	 
      
   </div><!-- End Posts -->  
   
   
   
   
   <!-- Start Sidebar Widgets -->
   <div class="five columns bottom">
   
      {% include blog_sidebar.html %}
   
   </div><!-- End Sidebar Widgets -->
   
   
   <div class="clearfix"></div>
   
   
   
       
     
  </div><!-- <<< End Container >>> -->