 {% include head.html %}
 
 {% include logo.html %}
  
<div class="container clearfix">
  
   
   
 <!-- Start Single Post -->
 <div class="eleven columns top bottom">
   
   <!-- ==================== Single Post ==================== -->
   <div class="post gallery bottom">
     
      <h2 class="title top-2 bottom-2">{{page.title}}<span class="line"></span></h2>
      <!-- Title Post -->
        
     <div class="post-meta bottom-2 transparent">
      <div class="meta"><span class="history  icon gray"></span> On {{ page.date | date: "%d %B %Y" }}</div><!-- Date -->
      <div class="meta"><span class="user icon gray"></span> By : {{page.author}} </div><!-- Author -->
    </div><!-- End post-meta -->
      
    <div class="post-content bottom">

      <div class="page_content">

		{{content}}

      </div>
        
    </div><!-- End post-content -->
           
		   {% authors %}
      
      
   </div> 
   
   <!-- facebook comments -->
   <div class="eleven columns top bottom">
   
   <div id="fb-root"></div>
   <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=APPID";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, "script", "facebook-jssdk"));</script>
   
   {% if page.comments %} 
   <h2 class="title top-2 bottom-2">Comments<span class="line"></span></h2>
   <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-num-posts="4"></div>
   {% endif%}
   
</div>
   
   <!-- end facebook comments -->


   <!-- ==================== End single post  ==================== -->
      
 </div><!-- End column -->  
   
   
 {% include blog_sidebar.html %}
   
   
 <div class="clearfix"></div>
     
</div><!-- <<< End Container >>> -->
  
  
 {% include footer.html %}