 {% include head.html %}
 
 {% include logo.html %}
  
<div class="container clearfix">
  
   
   
 <!-- Start Single Post -->
 <div class="eleven columns top bottom">
   
   <!-- ==================== Single Post ==================== -->
   <div class="post gallery bottom">
     
      <h2 class="title top-2 bottom-2">{{page.title}}<span class="line"></span></h2>
      <!-- Title Post -->
        
     <div class="post-meta bottom-2 transparent">
      <div class="meta"><span class="history  icon gray"></span> On {{ page.date | date: "%d %B %Y" }}</div><!-- Date -->
      <div class="meta"><span class="user icon gray"></span> By : {{page.author}} </div><!-- Author -->
    </div><!-- End post-meta -->
      
    <div class="post-content bottom">

      <div class="page_content">

		{{content}}

      </div>
        
    </div><!-- End post-content -->
           
		   {% authors %}


<div class="four columns alpha"><a href="/sitemap" class="link">Older Blogs</a></div>

      
      
   </div> 
   
<!-- begin disqus comments -->




    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'fbcmuncie'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    
  <!-- end disqus comments -->

   <!-- ==================== End single post  ==================== -->
      
 </div><!-- End column -->  
   
   
 {% include blog_sidebar.html %}
   
   
 <div class="clearfix"></div>
     
</div><!-- <<< End Container >>> -->
  
  
 {% include footer.html %}