{% include head.html %}
 
{% include logo.html %}

<div class="container clearfix">
  
  <div class="sixteen columns"> <h1 class="page-title">{{ page.title }} <span class="line"></span></h1> </div> <!-- Page Title -->
  
    
  <div class="two-thirds column">
    <div class="who">

    	<div class="page_content">

		{{ content }}

		</div>

    </div>
  </div><!-- End who we are -->
  
 <div class="one-third column bottom">
    
 {% include default_sidebar.html %}
 
</div>
     
</div><!-- <<< End Container >>> -->

 {% include footer.html %}
