---
layout: default
---

<div class="container clearfix">
  
  <div class="sixteen columns"> <h1 class="page-title">{{ page.title }} <span class="line"></span></h1> </div> <!-- Page Title -->

<div class="clearfix"></div>
  
<div class="meet-team">
  <div class="sixteen columns">
    </div>
        
    <div class="clearfix"></div>
        
    <ul class="team">
      <!-- each pastor-->
      <li class="one-third column">
        <img src="{{ root_url }}{{ page.image.url}}" alt="{{ page.name }}" />
        <h3>
          {{ page.name }}
		    {% if page.facebook %}
          <a href="http://facebook.com/{{ page.facebook }}" class="facebook">facebook</a>
		    {% endif %}
			 {% if page.twitter %}
          <a href="http://twitter.com/{{ page.twitter }}" class="twitter">twitter</a>
		    {% endif %}
        </h3>
        <p>{{ page.role }}</p>
      </li>
      <!-- End -->
	  
      <!--  description-->
      <li class="one-third column">
		  Test
      </li>
      <!-- End -->
	  
	  
    </ul><!-- End team -->
        
</div><!-- End meet team -->

</div><!-- <<< End Container >>> -->