---
layout: default
---

<!-- This is the page that styles the individual sermon pages -->

<div class="container gallery clearfix">
  
 <div class="sixteen columns"> 
	 <h1 class="page-title">{{ page.date | date: "%d %B" }} / <span class="gray2">{{ page.title }}</span><span class="line"></span></h1>
 </div><!-- Page Title -->

 <div class="twelve columns top bottom">
<!-- Begin Sermon Video if available -->

{% if page.video_url %}
<!-- Youtube Video -->

<div class="video-wrap widescreen">
       
<iframe src="http://www.youtube.com/embed/{{page.video_url}}?showinfo=1" frameborder="0" allowfullscreen frameborder="0" ></iframe>
       
</div><!-- End video wrap -->

<a href="/video" class="button medium color">Back to All Sermons</a>

</div>
{% else %}

<h4>The video for this week is not yet available. Please check back later in the week.</h4>

<a href="/video" class="button medium color">Back to All Sermons</a>
</div>

{% endif %}

<!-- End -->

<!-- Start Project Details -->
<div class="four columns  bottom">
   
  <h2 class="title top-5  bottom-2">Description <span class="line"></span></h2>
     
  <div class="about-project bottom">
    <p>
		{{ content }}
    </p>
	<br>
	<p>Speaker: {{ page.author }}</p>
  </div>
     
  
  <div class="clearfix"></div>
     
  <h2 class="title bottom-2">Podcast <span class="line"></span></h2>
     
  <p>An audio podcast is available if you wish to listen to audio only. You can <a href="/podcast">subscribe</a> or view the feed of <a href="/podcast">recent episodes</a>.</p>
      
</div>

 <div class="sixteen columns"> <h2 class="title">Recent Videos <span class="line"></span></h2> </div>
 
 <div class="portfolio">
    
    {% for post in site.tags.sermon limit:4  %} 
     <!-- Sermon Lightbox-->
     <div class="four columns item omega">
       <div class="caption">
       <a href="{{ post.url }}">
		  <img src="/images/sermon_images/{{ post.date | date: "%Y-%m-%d" }}.jpg" alt="{{ post.title }}" class="pic" />
        <span class="hover-effect big zoom"></span></a>
		
         </div><!-- hover effect -->
       <h4><ahref="{{ post.url }}">{{ post.title }}</a></h4>
	   <h5><a>{{ post.date | date: "%d %B %Y" }}</a></h5>
     </div>
     <!-- End -->
    {% endfor %}
       
  </div><!-- End portfolio -->

 </div><!-- <<< End Container >>> -->
 
