---
layout: default
title: Sample Portfolio Layout
---

<div class="container clearfix">
  
 <div class="sixteen columns"> <h1 class="page-title">Sermons / <span class="gray2">Audio and Video</span><span class="line"></span></h1> </div> 
 <!-- Page Title -->

 <div class="portfolio">
    
    {% for project in page.projects limit:12 %}    
     <!-- Sermon Lightbox-->
     <div class="four columns item omega">
       <div class="caption">
       <a href="/sermons/{{ project[0] }}" rel="prettyPhoto[gallery1]">
		 {% if project[1].image %}
		 <img src="/img/photos/medium/{{ project[1].image.url }}" alt="{{ project[1].title }}" class="pic" />
		 {% endif %}
        <span class="hover-effect big zoom"></span></a>
		
         </div><!-- hover effect -->
       <h4><a>{{ project[1].title }}</a></h4>
	   <h5><a>{{ project[1].date | date: "%d %B %Y" }}</a></h5>
     </div>
     <!-- End -->
	 {% endfor %}

  
    
  </div><!-- End portfolio -->
    
       
     
</div><!-- <<< End Container >>> -->

